<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/general/layout::dynamic(~{::body})}">
<body>
  <div class="container">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#login"> <h4>Đăng nhập</h4> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#register"> <h4>Đăng ký</h4> </a>
      </li>
    </ul>
<!--Tab    -->
    <div class="tab-content">
      <div id="login" class="container tab-pane active"><br>
        <form th:action="@{/security/login}" method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username"  placeholder="Enter Username" name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember-me"> Remember me
            </label>
          </div>
          <p class="text-danger" th:text="${msg}"></p>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div id="register" class="container tab-pane fade"><br>
        <form name="formsignup">
          <div class="form-group">
            <label for="uid">Username:</label>
            <input ng-model="username" type="text" class="form-control" id="uid"  placeholder="Enter username" name="username" required>
            <span class="text-danger" ng-show="formsignup.username.$invalid">Vui lòng nhập username</span>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input ng-model="password" type="password" class="form-control"  placeholder="Enter password" name="pswd" minlength="6" maxlength="30" required>
            <span class="text-danger" ng-show="formsignup.pswd.$invalid">Vui lòng nhập mật khẩu từ 6 - 30 ký tự</span>
          </div>
          <div class="form-group">
            <label for="pwd">Confirm password:</label>
            <input ng-model="cfpassword" type="password" class="form-control"  placeholder="Enter confirm password"  name="cfpswd" minlength="6" maxlength="30" required>
            <span class="text-danger" ng-show="formsignup.cfpswd.$invalid" >Mật khẩu không trùng khớp</span>
          </div>
          <div class="form-group">
            <label for="pwd">Email:</label>
            <input ng-model="email" type="email" class="form-control"  placeholder="Enter email" name="email" >
            <span class="text-danger" ng-show="formsignup.email.$invalid">Không đúng dạng email</span>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
