<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/general/layout_admin::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="m-5" style="min-height: 100vh;">
    <div class="container w-75">
        <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="form-tab" data-bs-toggle="tab" data-bs-target="#edit" type="button" role="tab"
                        aria-controls="home" aria-selected="true">Edit</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab"
                        aria-controls="profile" aria-selected="false">List</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- edit tab -->
            <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                <form class="needs-validation" novalidate="true" action="" modelAttribute="account" enctype="multipart/form-data"
                      name="form">
                    <div class="form-group mb-3">
                        <label path="image">Image: </label>
                        <figure>
                            <img src="/upload/user/${account.image}" id="imageResult" alt="" class="img-fluid img-thumbnail"
                                 width="120" height="120">
                            <img src="/upload/user/error-404.jpg" id="imageResult" alt="" class="img-fluid img-thumbnail"
                                 width="120" height="120">
                        </figure>
                        <input id="upload" path="image" class="form-control" type="file" onchange="readURL(this);"
                               accept="image/png, image/jpeg" value="${account.image}" />
                    </div>
                    <div class="form-group mb-3">
                        <label path="id">Username: </label>
                        <input path="id" class="form-control" type="text" required="true" />
                        <label class="invalid-feedback">Please enter UserName </label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="email">Email</label>
                        <input path="email" class="form-control" type="email" required="true" />
                        <label class="invalid-feedback">Please enter Email </label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="password">Password</label>
                        <input path="password" class="form-control" type="password" minlength="5" maxlength="30" required="true" />
                        <label class="invalid-feedback">Please enter Password between 5 and 30 characters
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="phone">Phone: </label>
                        <input path="phone" class="form-control" type="tel" required="true" />
                        <label class="invalid-feedback">Please enter Phone </label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="address">Address: </label>
                        <input path="address" class="form-control" type="text" required="true" />
                        <label class="invalid-feedback">Please enter Address </label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="activated">Is Activated: </label>
                        <input type="radio" name="a" id="isActivated1" path="activated" value="1" /> True
                        <input type="radio" name="a" id="isActivated2" path="activated" value="0" /> False
                    </div>
                    <div class="form-group mb-3">
                        <label path="admin">Is Admin: </label>
                        <input type="radio" name="a" id="isAdmin1" path="admin" value="1" /> True
                        <input type="radio" name="a" id="isAdmin2" path="admin" value="0" /> False
                    </div>
                    <div class="form-group mb-3">
                        <label path="verifycode">Verify code:</label>
                        <input path="verifycode" class="form-control" type="text" required="true" />
                        <label class="invalid-feedback">Please enter code </label>
                    </div>
                    <button id="createBtn" class="btn btn-success" formaction="/admin/account/create" formmethod="post"
                            ng-disabled="form.$invalid">CREATE</button>
                    <button class="btn btn-secondary" formaction="/admin/account/update" formmethod="post"
                            ng-disabled="form.$invalid">UPDATE</button>
                    <button class="btn btn-danger" formaction="/admin/account/delete/${account.id}" formmethod="get">DELETE</button>
                    <button class="btn btn-info" formaction="/admin/account/" formmethod="get">RESET</button>
                </form>
            </div>

            <!-- list tab -->
            <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="row bg-light p-2">
                    <div class="text-center">
                        <h3 class="text-capitalize">SORT ACCOUNT BY <span class="fw-bold">${field}</span></h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="text-end">
                        <a href="/admin/account/export-pdf" class="btn btn-info  text-white fw-bold">Export PDF</a>
                        <a href="/admin/account/export-excel" class="btn btn-info  text-white fw-bold">Export Excel</a>
                    </div>
                </div>
                <hr>
                <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word;">
                    <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col"><a href="/admin/account/sort?field=id">Username</a></th>
                        <th scope="col"><a href="/admin/account/sort?field=email">Email</a></th>
                        <th style="width:25%" scope="col"><a href="/admin/account/sort?field=password">Password</a></th>
                        <th scope="col"><a href="/admin/account/sort?field=phone">Phone</a></th>
                        <th scope="col"><a href="/admin/account/sort?field=address">Address</a></th>
                        <th scope="col"><a href="/admin/account/sort?field=activated">Activated?</a></th>
                        <th scope="col"><a href="/admin/account/sort?field=admin">Admin?</a></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


</body>
</html>