<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/general/layout_admin::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body>
<!-- header -->
<main class="m-5" style="min-height: 100vh;" ng-app="myapp">
    <div class="container w-75" ng-controller="myctl">
        <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#edit" type="button" role="tab"
                        aria-controls="home" aria-selected="true">Edit</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab"
                        aria-controls="profile" aria-selected="false">List</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- edit tab -->
            <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            
                <form:form action="/product/index" method="post" modelAttribute="product" 
                
                
                
                
                class="needs-validation" novalidate="true" action="" modelAttribute="product" enctype="multipart/form-data"
                           name="frmValidate">
                    <div class="form-group mb-3">
                        <label path="product_Image">Image: </label>
                        <figure>
                            <img src="/upload/product/${product.image}" id="imageResult" alt="" class="img-fluid img-thumbnail"
                                 width="120" height="120">
                            <img src="/upload/product/error-404.jpg" id="imageResult" alt="" class="img-fluid img-thumbnail"
                                 width="120" height="120">
                        </figure>
                        <input id="upload" path="product_Image" class="form-control" type="file" onchange="readURL(this);"
                               accept="image/png, image/jpeg" value="${product.image}" />
                    </div>
                    <div class="form-group mb-3">
                        <label path="product_ID">Id: </label>
                        <input path="product_ID" class="form-control" type="text" readonly="true" />
                    </div>

                    <div class="form-group mb-3">
                        <label path="product_Name">Name</label>
                        <input path="product_Name" class="form-control" type="text" required="true" minlength="5" />
                        <label class="invalid-feedback">Please enter Name and must be greater than 5
                            characters !!</label>
                    </div>
                    <div class="form-group mb-3">
                        <label path="product_Price">Price: </label>
                        <input path="product_Price" min="1" ng-model="price" class="form-control" type="number" required="true" />
                        <label class="invalid-feedback">Please enter price and must not be a negative
                            number !!</label>
                    </div>
                   
                    <div class="form-group mb-3">
                        <label path="create_date">Create date:</label>
                        <input path="create_date" class="form-control" type="date" readonly="true" />
                    </div>
                    <div class="form-group mb-3">
                        <label path="cate_ID">Category:</label>
                        <input path="cate_ID" required="true" class="form-control" type="text" />
                        <label class="invalid-feedback">Please enter category</label>
                    </div>
                    <button class="btn btn-success" formaction="/product/create" formmethod="post"
                            ng-disabled="frmValidate.$invalid">CREATE</button>
                    <button class="btn btn-secondary" formaction="/product/update" formmethod="post"
                            ng-disabled="frmValidate.$invalid">UPDATE</button>
                    <button class="btn btn-danger" formaction="/product/delete/${product.product_ID}" formmethod="get">DELETE</button>
                    <button class="btn btn-info" formaction="/product/" formmethod="get">RESET</button>
                </form:form>
            </div>

            <!-- list tab -->
            <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                <div class="row bg-light p-2">
                    <div class="text-center">
                        <h3 class="text-capitalize">SORT PRODUCT BY <span class="fw-bold">a</span></h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="text-end">
                        <a href="/admin/product/export-excel" class="btn btn-info  text-white fw-bold">Export Excel</a>
                    </div>
                </div>
                <hr>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Available</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Category ID</th>
                    </tr>
                    </thead>
                 
                        <tbody>
                            <c:forEach var="item" items="${products}" varStatus="loop">
                                <tr>
                                    <th scope="row">${item.product_ID}</th>
                                    <th>${item.product_ID}</th>
                                   <th>${item.product_Name}</th>
                                    <th>${item.product_Price}</th>
                                     <th>${item.product_Image}</th>
                                       <th>${item.create_date}</th>
                                       <th>${item.cate_ID}</th>                
                                    <th class="text-end">
                                        <a href="/product/edit/${item.product_ID}" class="btn btn-primary" role="button">Edit</a>
                                        <a href="/product/delete/${item.product_ID}" class="btn btn-danger" role="button">Delete</a>
                                    </th>
                                </tr>
                            </c:forEach>
                        </tbody>

                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>