<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/general/layout::dynamic(~{::body})}">
<body>
<main>
    <div class="card">
        <div class="card-header">YOUR ORDER PURCHASE</div>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Order No.</th>
                <th>Order Date</th>
                <th>Shipping Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orders,state:${orders}">
                <td>[[${state.index}]]</td>
                <td>[[${orders.order_ID}]]</td>
                <td>[[${orders.create_date}]]</td>
                <td>[[${orders.address}]]</td>
                <td>
                    <a th:href="@{|/order/detail/${orders.order_ID}|}" class="btn btn-default"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>