<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/general/layout::dynamic(~{::body})}">
<body>
<div th:fragment="contact">
    <div class="container body">
        <div class="row">
            <div class="col-sm-4 box">
                <h3>Liên hệ</h3>
                <div>
                    <i class="fa fa-phone"></i>
                    Tổng đài miễn phí
                </div>
                <div>Tư vấn mua hàng: 0356.827.895</div>
                <div>Khiếu nại, góp ý: 0356.827.895</div>
                <div>Trung tâm bão hành: 0356.827.895</div>
                <div class="co_icon">
                    <i class="fa fa-handshake"></i>
                    Hợp tác kinh doanh
                </div>
                <div>Mr.An</div>
                <div>antvhps@gmail.com</div>
                <div>Bán hàng doanh nghiệp</div>
                <div>Gọi: 0356.827.895</div>
                <div>Email: ntthiepps15632@fpt.edu.vn</div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 box">
                <p>TIỆN ÍCH TẠI CỬA HÀNG STORE</p>
                <div>Hiep Store luôn nỗ lực "Tận tâm với khách hàng" mang đến dịch vụ và trải nghiệm tốt nhất:</div>
                <div>Hiep Store là hệ thống bán lẻ uỷ quyền chính hãng của Apple Việt Nam (AAR - Apple Authorized Reseller).</div>
                <div>
                    <ul>
                        <li>Nhân viên nhiệt tình, thân thiện, gửi xe & Wifi miễn phí</li>
                        <li>Trải nghiệm trực tiếp, và dùng thử sản phẩm miễn phí</li>
                        <li>Giá bán, khuyến mãi luôn tốt nhất thị trường</li>
                        <li>Dịch vụ bán hàng doanh nghiệp : giá tốt nhất - có hoa hồng</li>
                        <li>Bảo hành chính hãng, đổi mới miễn phí 1 tháng</li>
                        <li>Thu cũ đổi mới sản phẩm trợ giá tốt nhất</li>
                        <li>Miễn phí cà thẻ (ngoại trừ AMEX, UnionPay & JCB)</li>
                        <li>Trả góp từ 0% qua thẻ tín dụng quốc tế với trên 20 ngân hàng & công ty tài chính: Home Credit, Fe Credit, HD Saison, Mirae Asset</li>
                        <li>Nhiều ưu đãi thanh toán từ VnpayQR, Momo, Mpos... và các ngân hàng BIDV, Shinhan, Vietcombank...</li>
                        <li>Thanh toán hóa đơn trả góp, điện, nước, internet (thanh toán bằng tiền mặt hoặc cà thẻ ATM)</li>
                        <li>Nạp tiền điện thoại tiết kiệm tới 5%</li>
                        <li>Giao hàng miễn phí, thanh toán tại nhà trên toàn quốc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
