<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/general/layout::dynamic(~{::body})}">
<body>
<div class="container-fluid body" th:fragment="ipad">
        <div class="row">
            <!-- Menu body -->
            <div class="col-sm-2" th:insert="~{/general/body-right.html::menu-right}"></div>
            <div class="col-sm-9 row">
                <div class="col-sm-3 product" ng-repeat="product in products">
                    <div class="card product1" >
                        <img class="card-img-top" src="{{product.image}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{product.Name}}</h4>
                            <p class="card-text text-danger">{{product.Price | currency}}</p>
                            <button class="btn btn-primary button-addtocart" ng-click="addItem(product)">Thêm vào giỏ hàng</button>
                            <a href="../product.html" class="btn btn-danger button-buy ">Mua</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination page">
                <li class="page-item"><a class="page-link" href="#" ng-click="prev()">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#"  ng-click="page1()">1</a></li>
                <li class="page-item"><a class="page-link" href="#"  ng-click="page2()">2</a></li>
                <li class="page-item"><a class="page-link" href="#"  ng-click="page3()">3</a></li>
                <li class="page-item"><a class="page-link" href="#"  ng-click="next()">Next</a></li>
            </ul>
        </div>
</div>
</body>
</html>
