



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(view)">
<body>
<div class="d-flex flex-column menu" th:fragment="menu-right">
    <a href="iphone.html" class="text-menu">Iphone <i class="fas fa-chevron-right"></i></a>
    <a href="mac.html" class="text-menu">Mac Book <i class="fas fa-chevron-right"></i></a>
    <a href="ipad.html" class="text-menu">Ipad <i class="fas fa-chevron-right"></i></a>
    <a href="watch.html" class="text-menu">Đồng Hồ <i class="fas fa-chevron-right"></i></a>
    <a href="#" class="text-menu">Tai Nghe <i class="fas fa-chevron-right"></i></a>
</div>
</body>
</html>
