<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(view)">
<body>
    <div th:fragment="footer">
        <div class="TT_Cty">
            Công ty TNHH Thương mại và dịch vụ kỹ thuật STORE - GPĐKKD: 0316172372 do sở KH & ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 30B Hồ Hảo Hớn, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 0356.827.895.
        </div>
        <div class="lien_ket">
            <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" width="149px" height="35px">
            <img src="https://images.dmca.com/Badges/dmca_copyright_protected150c.png?ID=158f5667-cce3-4a18-b2d1-826225e6b022">
        </div>
    </div>
</body>
</html>
