
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(view)">
<body>
<div class="container-fluid" th:fragment="navbar">
  <div class="nav justify-content-center">
    <div class="nav-item">
      <a th:href="@{/product/list}" class="nav-link text-nav"><img th:src="@{|/assets/images/iPhone_logo.png|}"  width="20px" height="20px" alt=""></a>
    </div>
    <div class="nav-item">
      <a  th:href="@{|/product/list?cid=1|}" class="nav-link text-nav">Iphone</a>
    </div>
    <div class="nav-item">
      <a th:href="@{|/product/list?cid=2|}" class="nav-link text-nav">Macbook</a>
    </div>
    <div class="nav-item">
    <a th:href="@{/product/contact}" class="nav-link text-nav">Liên hệ</a>
    </div>
  </div>
</div>
</body>
</html>
