<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <!-- Header -->
    <div class="header" ng-include="'general/header.html'"></div>
    
    <!-- Menu -->
    <div class="container" ng-include="'general/menu.html'"></div>
    <div class="container body">
        <div class="row">
            <div class="col-sm-4 box">
                <h3>Liên hệ</h3>
                    <div>
                        <i class="fa fa-phone"></i>
                        Tổng đài miễn phí
                    </div>
                    <div>Tư vấn mua hàng: 0356.827.895</div>
                    <div>Khiếu nại, góp ý: 0356.827.895</div>
                    <div>Trung tâm bão hành: 0356.827.895</div>
                    <div class="co_icon">
                        <i class="fa fa-handshake"></i>
                        Hợp tác kinh doanh
                    </div>
                    <div>Mr.Hiep</div>
                    <div>nguyentruongthaihiepkt18@gmail.com</div>
                    <div>Bán hàng doanh nghiệp</div>
                    <div>Gọi: 0356.827.895</div>
                    <div>Email: ntthiepps15632@fpt.edu.vn</div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 box">
                <p>TIỆN ÍCH TẠI CỬA HÀNG HIEP STORE</p>
                    <div>Hiep Store luôn nỗ lực "Tận tâm với khách hàng" mang đến dịch vụ và trải nghiệm tốt nhất:</div>
                    <div>Hiep Store là hệ thống bán lẻ uỷ quyền chính hãng của Apple Việt Nam (AAR - Apple Authorized Reseller).</div>
                    <div>
                        <ul>
                            <li>Nhân viên nhiệt tình, thân thiện, gửi xe & Wifi miễn phí</li>
                            <li>Trải nghiệm trực tiếp, và dùng thử sản phẩm miễn phí</li>
                            <li>Giá bán, khuyến mãi luôn tốt nhất thị trường</li>
                            <li>Dịch vụ bán hàng doanh nghiệp : giá tốt nhất - có hoa hồng</li>
                            <li>Bảo hành chính hãng, đổi mới miễn phí 1 tháng</li>
                            <li>Thu cũ đổi mới sản phẩm trợ giá tốt nhất</li>
                            <li>Miễn phí cà thẻ (ngoại trừ AMEX, UnionPay & JCB)</li>
                            <li>Trả góp từ 0% qua thẻ tín dụng quốc tế với trên 20 ngân hàng & công ty tài chính: Home Credit, Fe Credit, HD Saison, Mirae Asset</li>
                            <li>Nhiều ưu đãi thanh toán từ VnpayQR, Momo, Mpos... và các ngân hàng BIDV, Shinhan, Vietcombank...</li>
                            <li>Thanh toán hóa đơn trả góp, điện, nước, internet (thanh toán bằng tiền mặt hoặc cà thẻ ATM)</li>
                            <li>Nạp tiền điện thoại tiết kiệm tới 5%</li>
                            <li>Giao hàng miễn phí, thanh toán tại nhà trên toàn quốc</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container footer text-center">
      <div class="TT_Cty">
          Công ty TNHH Thương mại và dịch vụ kỹ thuật HIEP STORE - GPĐKKD: 0316172372 do sở KH & ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 30B Hồ Hảo Hớn, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 0356.827.895.
      </div>
      <div class="lien_ket">
          <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" width="149px" height="35px">
          <img src="https://images.dmca.com/Badges/dmca_copyright_protected150c.png?ID=158f5667-cce3-4a18-b2d1-826225e6b022">
      </div>
    </div>
    

    <hr>
    <!-- Footer -->
    <div class="container footer text-center" ng-include="'general/footer.html'"></div>
    

    <script src="js/product.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>